localhost {
  log {
    format json
  }

  # Компрессия
  encode zstd gzip

  # Самоподписной сертификат для локальной разработки
  tls internal

  # Проксирование всех запросов в app:8080
  reverse_proxy app:8080
}